@using Abp.Collections.Extensions
@using Dychar.Admin.Web.Views
@using Dychar.Admin.Web.Views.Shared.Components.SideBarNav
@model UserMenuItemViewModel


<li class="@(Model.MenuItem.IsMenuActive (Model.ActiveMenuItemName) ? "active" : "") @(Model.MenuItem.Items.Count > 0 ? "treeview" : "")">

    @if (Model.MenuItem.Items.IsNullOrEmpty())
    {
        <a href="@Model.MenuItem.CalculateUrl(ApplicationPath)">
            @if (!string.IsNullOrWhiteSpace(Model.MenuItem.Icon))
            {
                <i class="@Model.MenuItem.Icon"></i>
            }
            <span>@Model.MenuItem.DisplayName</span>
        </a>
    }
    else
    {
        <a href="javascript:void(0);">
            @if (!string.IsNullOrWhiteSpace(Model.MenuItem.Icon))
            {
                <i class="@Model.MenuItem.Icon"></i>
            }
            <span>@Model.MenuItem.DisplayName</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            @for (var i = 0; i < Model.MenuItem.Items.Count; i++)
            {
                var childMenuItem = Model.MenuItem.Items[i];
                if (!childMenuItem.IsVisible)
                {
                    continue;
                }
                @Html.Partial("Components/SideBarNav/_UserMenuItem", new UserMenuItemViewModel
           {
               MenuItem = childMenuItem,
               MenuItemIndex = i,
               ActiveMenuItemName = Model.ActiveMenuItemName,
               RootLevel = false
           })
            }
        </ul>
    }
</li>