@using Abp.Authorization.Users
@using Abp.Extensions
@using Abp.MultiTenancy
@model Dychar.Admin.Web.Models.Account.LoginFormViewModel
@section Styles
    {
    <environment names="Development">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.css" asp-append-version="true" />*@
    </environment>

    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="~/view-resources/Views/Account/Login.min.css" asp-append-version="true" />*@
    </environment>

}
@section Scripts
    {
    <environment names="Development">
        <script src="~/view-resources/Views/Account/Login.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/Account/Login.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>
}
<div class="login-box-body" id="LoginArea">
    <p class="login-box-msg">@L("LogIn")</p>
    <form id="LoginForm" asp-action="Login" method="post">
        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
        <input type="hidden" name="returnUrlHash" />
        <div class="form-group has-feedback">
            <input type="text" class="form-control" name="usernameOrEmailAddress" value="admin" placeholder="@L("UserNameOrEmail")" required autofocus maxlength="@AbpUserBase.MaxEmailAddressLength">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" name="Password" value="123qwe" placeholder="@L("Password")" required maxlength="@AbpUserBase.MaxPlainPasswordLength">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label for="rememberme">
                        <input type="checkbox" name="RememberMe" id="rememberme" class="filled-in chk-col-pink" value="true"> @L("RememberMe")
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button id="LoginButton" class="btn btn-primary btn-block btn-flat" type="submit">@L("LogIn")</button>
            </div>
            <!-- /.col -->
        </div>
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <div class="row m-t-15 m-b--20">
            <div class="col-xs-12">
                <a asp-action="#">I forgot my password</a>
            </div>
        </div>
        @if (Model.IsSelfRegistrationAllowed)
        {
            <div class="row m-t-15 m-b--20">
                <div class="col-xs-12">
                    <a asp-action="Register">@L("Register")</a>
                </div>
            </div>
        }
    </form>

</div>
